.content {
  display: initial!important;
}
textarea#cmd, #cmd_i {
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;
}
.line {
  margin-top: 10px;
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: auto 1fr;
}
#path {
  grid-column: 1;
  grid-row: 1;
}
label {
  grid-column: 1/3;
  grid-row: 2;
}
#cmd, #cmd_i {
  grid-column: 2;
  grid-row: 1/3;
  
}
#cmd {
  grid-row: 1/3;
}
#cmd_i {
  grid-column: 2;
  grid-row: 1;
}
.line button[type=submit], label[for='input-type-switch'] {
  display: none;
}

#cmd_i {
  display: none;
  overflow: auto!important;
}